{
    "Assets": {
        "AssetCount": 10,
        "AssetList": {
            "1": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\adventure_girl\\png\\Dead (2).png",
                "ResourceId": 1,
                "Type": 1
            },
            "10": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\deserttileset\\png\\Objects\\Bush (1).png",
                "ResourceId": 10,
                "Type": 1
            },
            "2": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\deserttileset\\png\\Objects\\Bush (2).png",
                "ResourceId": 2,
                "Type": 1
            },
            "3": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\catndog\\png\\cat\\Jump (6).png",
                "ResourceId": 3,
                "Type": 1
            },
            "4": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\deserttileset\\png\\Objects\\StoneBlock.png",
                "ResourceId": 4,
                "Type": 1
            },
            "5": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\deserttileset\\png\\Objects\\Cactus (1).png",
                "ResourceId": 5,
                "Type": 1
            },
            "6": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\deserttileset\\png\\Objects\\Tree.png",
                "ResourceId": 6,
                "Type": 1
            },
            "7": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\deserttileset\\png\\BG.png",
                "ResourceId": 7,
                "Type": 1
            },
            "8": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\deserttileset\\png\\Tile\\2.png",
                "ResourceId": 8,
                "Type": 1
            },
            "9": {
                "Filepath": "C:\\Users\\Gabe\\Documents\\Graphics\\GameAssets\\Free stuff\\deserttileset\\png\\Tile\\5.png",
                "ResourceId": 9,
                "Type": 1
            }
        },
        "SceneID": 0
    },
    "Components": [
        {
            "Transform": {
                "Entity": 0,
                "Position": {
                    "X": -8.986297607421875,
                    "Y": 62.41827392578125,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 9.65960693359375,
                    "Y": 9.705705642700195,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 1,
                "Position": {
                    "X": 141.33143615722656,
                    "Y": -9.855567932128906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 10.313153266906738,
                    "Y": 10.3627347946167,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 2,
                "Position": {
                    "X": 48.199764251708984,
                    "Y": -202.03799438476563,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.1043701171875,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 3,
                "Position": {
                    "X": 177.2768096923828,
                    "Y": -201.21681213378906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.104000091552734,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 4,
                "Position": {
                    "X": 307.1709899902344,
                    "Y": -201.2166748046875,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.104000091552734,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 5,
                "Position": {
                    "X": -82.51123046875,
                    "Y": -202.03802490234375,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.104000091552734,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 6,
                "Position": {
                    "X": 307.98797607421875,
                    "Y": 9.034278869628906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 6.555212497711182,
                    "Y": 9.048663139343262,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 7,
                "Position": {
                    "X": 156.03619384765625,
                    "Y": 188.07598876953125,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 16.195154190063477,
                    "Y": 21.039541244506836,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 8,
                "Position": {
                    "X": 120.90763854980469,
                    "Y": 156.86695861816406,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 62.76097106933594,
                    "Y": 33.03042984008789,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 9,
                "Position": {
                    "X": -213.495361328125,
                    "Y": -202.00254821777344,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.104000091552734,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 10,
                "Position": {
                    "X": -343.38946533203125,
                    "Y": -201.1812744140625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.104000091552734,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 11,
                "Position": {
                    "X": -473.2835693359375,
                    "Y": -201.18133544921875,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.104000091552734,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 12,
                "Position": {
                    "X": -603.99462890625,
                    "Y": -200.36000061035156,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.104000091552734,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 13,
                "Position": {
                    "X": -733.07177734375,
                    "Y": -200.36000061035156,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.104000091552734,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 14,
                "Position": {
                    "X": -857.2472534179688,
                    "Y": -200.36000061035156,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.104000091552734,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 15,
                "Position": {
                    "X": 435.9750671386719,
                    "Y": -201.18133544921875,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.104000091552734,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 16,
                "Position": {
                    "X": 565.8692016601563,
                    "Y": -201.1812744140625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.104000091552734,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 17,
                "Position": {
                    "X": 694.1294555664063,
                    "Y": -201.1812744140625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.104000091552734,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 18,
                "Position": {
                    "X": 822.3897094726563,
                    "Y": -201.18121337890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.104000091552734,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 19,
                "Position": {
                    "X": 949.8328247070313,
                    "Y": -201.18121337890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.104000091552734,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 20,
                "Position": {
                    "X": 1023.35791015625,
                    "Y": -201.18121337890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": -4.228843688964844,
                    "Y": 4.104000091552734,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 21,
                "Position": {
                    "X": -153.5855255126953,
                    "Y": -332.6236572265625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 22,
                "Position": {
                    "X": -14.70501708984375,
                    "Y": -331.80230712890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 23,
                "Position": {
                    "X": 127.44328308105469,
                    "Y": -331.80230712890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 24,
                "Position": {
                    "X": 406.0210876464844,
                    "Y": -331.80230712890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 25,
                "Position": {
                    "X": 267.9576416015625,
                    "Y": -331.80230712890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 26,
                "Position": {
                    "X": 544.0845947265625,
                    "Y": -331.80230712890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 27,
                "Position": {
                    "X": 682.148193359375,
                    "Y": -331.80230712890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 28,
                "Position": {
                    "X": 823.4795532226563,
                    "Y": -331.80230712890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 29,
                "Position": {
                    "X": 959.0921630859375,
                    "Y": -331.80230712890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 30,
                "Position": {
                    "X": 1000.75634765625,
                    "Y": -331.80230712890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 31,
                "Position": {
                    "X": -285.113525390625,
                    "Y": -331.80230712890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 32,
                "Position": {
                    "X": -423.1770935058594,
                    "Y": -331.80230712890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 33,
                "Position": {
                    "X": -556.3389892578125,
                    "Y": -331.80230712890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 34,
                "Position": {
                    "X": -695.219482421875,
                    "Y": -331.80230712890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 35,
                "Position": {
                    "X": -822.6627197265625,
                    "Y": -331.80230712890625,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 36,
                "Position": {
                    "X": -822.6627197265625,
                    "Y": -449.2472229003906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 37,
                "Position": {
                    "X": -686.233154296875,
                    "Y": -449.2472229003906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 38,
                "Position": {
                    "X": -550.6204223632813,
                    "Y": -449.2472229003906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 39,
                "Position": {
                    "X": -419.0924072265625,
                    "Y": -449.2472229003906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 40,
                "Position": {
                    "X": -280.21197509765625,
                    "Y": -449.2472229003906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 41,
                "Position": {
                    "X": -149.50094604492188,
                    "Y": -449.2472229003906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 42,
                "Position": {
                    "X": -8.169631958007813,
                    "Y": -449.2472229003906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 43,
                "Position": {
                    "X": 133.16168212890625,
                    "Y": -449.2472229003906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 44,
                "Position": {
                    "X": 266.32354736328125,
                    "Y": -449.2472229003906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 45,
                "Position": {
                    "X": 404.3870849609375,
                    "Y": -449.2472229003906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 46,
                "Position": {
                    "X": 542.4505004882813,
                    "Y": -449.2472229003906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 47,
                "Position": {
                    "X": 673.16162109375,
                    "Y": -449.2472229003906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 48,
                "Position": {
                    "X": 813.6759643554688,
                    "Y": -449.2472229003906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 49,
                "Position": {
                    "X": 955.00732421875,
                    "Y": -449.2472229003906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 50,
                "Position": {
                    "X": 988.5020141601563,
                    "Y": -449.2472229003906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.4311676025390625,
                    "Y": 4.285174369812012,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 51,
                "Position": {
                    "X": -745.8696899414063,
                    "Y": 9.034278869628906,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 6.555212497711182,
                    "Y": 9.048663139343262,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 52,
                "Position": {
                    "X": -433.7972717285156,
                    "Y": -59.13312530517578,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 6.881982326507568,
                    "Y": 5.106470584869385,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 53,
                "Position": {
                    "X": 906.8077392578125,
                    "Y": -59.13312530517578,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 6.881982326507568,
                    "Y": 5.106470584869385,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 54,
                "Position": {
                    "X": -174.8260040283203,
                    "Y": -86.23564910888672,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.921328544616699,
                    "Y": 3.2996232509613037,
                    "Z": 1.0
                }
            }
        },
        {
            "Transform": {
                "Entity": 55,
                "Position": {
                    "X": 708.2904663085938,
                    "Y": -86.23564910888672,
                    "Z": 0.0
                },
                "Rotation": {
                    "X": 0.0,
                    "Y": 0.0,
                    "Z": 0.0
                },
                "Scale": {
                    "X": 4.921328544616699,
                    "Y": 3.2996232509613037,
                    "Z": 1.0
                }
            }
        },
        {
            "Rigidbody2D": {
                "AngularDamping": 0.0,
                "ContinousCollision": false,
                "Entity": 0,
                "FixedRotation": false,
                "LinearDamping": 0.5,
                "Mass": 40.0,
                "Velocity": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 3,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 0.9999899864196777,
                    "Z": 0.9999899864196777
                },
                "Entity": 0,
                "ZIndex": -1
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 1,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 1,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 2,
                "ZIndex": 1
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 3,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 4,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 5,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 5,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 6,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 6,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 7,
                "ZIndex": -1
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 7,
                "Color": {
                    "W": 0.9921568632125854,
                    "X": 0.7694543600082397,
                    "Y": 0.8954405784606934,
                    "Z": 0.9195402264595032
                },
                "Entity": 8,
                "ZIndex": -5
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 9,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 10,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 11,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 12,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 13,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 14,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 15,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 16,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 17,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 18,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 19,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 8,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 20,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 21,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 22,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 23,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 24,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 25,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 26,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 27,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 28,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 29,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 30,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 31,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 32,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 33,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 34,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 35,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 36,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 37,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 38,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 39,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 40,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 41,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 42,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 43,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 44,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 45,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 46,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 47,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 48,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 49,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 9,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 50,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 5,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 51,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 10,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 52,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 10,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 53,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 2,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 54,
                "ZIndex": 0
            }
        },
        {
            "SpriteRenderer": {
                "AssetId": 2,
                "Color": {
                    "W": 1.0,
                    "X": 1.0,
                    "Y": 1.0,
                    "Z": 1.0
                },
                "Entity": 55,
                "ZIndex": 0
            }
        },
        {
            "AABB": {
                "Entity": 5,
                "HalfSize": {
                    "X": 16.0,
                    "Y": 16.0
                },
                "Offset": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        },
        {
            "AABB": {
                "Entity": 0,
                "HalfSize": {
                    "X": 7.0,
                    "Y": 12.0
                },
                "Offset": {
                    "X": 0.0,
                    "Y": 0.0
                }
            }
        }
    ],
    "Project": "C:\\Users\\Gabe\\Documents\\JadeProjects\\TestProject1\\TestProject.jprj",
    "Size": 115
}